# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

# Installation Note:
#  mv .atom/keymap.cson .atom/keymap.cson.bak
#  ln -s ~/dotfiles-local/ .atom/keymap.cson

'atom-text-editor':
  # focus panes
  'f16 j': 'window:focus-pane-below'
  'f16 k': 'window:focus-pane-above'
  'f16 h': 'window:focus-pane-on-left'
  'f16 l': 'window:focus-pane-on-right'

  # folding/unfolding
  'f16 ]': 'editor:unfold-all'
  'f16 [': 'editor:fold-at-indent-level-1'

'atom-workspace':
  # move panes
  'f16 cmd-j': 'move-panes:move-down'
  'f16 cmd-k': 'move-panes:move-up'
  'f16 cmd-h': 'move-panes:move-left'
  'f16 cmd-l': 'move-panes:move-right'

  # split+move panes
  'f16 shift-cmd-j': 'pane:split-down-moving-current-tab'
  'f16 shift-cmd-k': 'pane:split-up-moving-current-tab'
  'f16 shift-cmd-h': 'pane:split-left-moving-current-tab'
  'f16 shift-cmd-l': 'pane:split-right-moving-current-tab'

  # goto line
  'f16 g': 'go-to-line:toggle'
